body {
	height: 100%;
	background-color: #ffffff;
	color: #85859c;
	font-family: tahoma, arial, sans-serif;
	font-size: 10px;
	text-align: center;
}

a {
	color: #85859c;
	text-decoration: underline;
}

a:hover {
	color: #69699c;
}

span {
	display: none;
}

#page_header {
	width: 780px;
	height: 90px;
	color: #fff;
	background: url('images/header_background.gif') repeat-x 0px 0px;
	overflow: hidden;
}

#page_header a {
	color: #fff;
	text-decoration: none;
}



#left_sidebar {
	width: 129px;
	float: left;
	text-align: left;
	color: #8989b6;
	margin-left: 10px;
}

#left_sidebar a {
	color: #8989b6;
}


#main_content {
	margin-left: 10px;
	width: 649px;
	float: left;
	color: 
	text-align: center;
}

#main_content .h_divider {
	margin-bottom: 2px;
	height: 1px;
	background-color: #c2c2cd;
	overflow: hidden;
}
