/* reset */
html, body {
    width: 100%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 常用 */
.fl {
    float: left;
}

.fr {
    float: right;
}
