/* reset */
html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  outline: none;
}

.btn-xs {
  padding: 0.03rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

/* #region table */

.table {
  width: 100%;
  margin-bottom: 10px;
  border-spacing: 0;

  td,
  th {
    border: 1px solid #e9eaec;
    line-height: 42px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
  }

  tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }

  .text-center {
    padding-left: 0;
  }
}

/* #endregion */

/* #region bootstrap tool */
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-none {
  float: none !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}
/* #endregion */

/* #region panel */

.panel {
  width: 1110px;
  border: 1px solid #e9eaec;
  margin: 0 auto;
  background: white;
  border-radius: 4px;
}

.panel:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-color: #eee;
}

.panel-big {
  width: 98%;
  margin: 0 auto;
}

.panel-header {
  height: 50px;
  font-weight: bold;
  line-height: 50px;
  text-indent: 20px;
  border-bottom: 1px solid #e9eaec;
}

.panel-body {
  padding: 10px 10px 0;
}

.panel-footer {
  border-top: 1px solid #e9eaec;
  padding: 0.75rem 1.25rem;
  /* background-color: rgba(0, 0, 0, 0.03); */
  /* border-top: 1px solid rgba(0, 0, 0, 0.125); */
}

/* #endregion */
