<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog autoReload="true" internalLogLevel="Error" internalLogFile="Log/internalLog.txt">
    <targets>
      <target name="logfile" type="File" fileName="${basedir}/Log/${shortdate}.log" lineEnding="CRLF" encoding="UTF-8"
              layout="日志时间:${longdate}${newline}日志等级:${level}${newline}日志位置:${callsite:skipFrames=1}:${callsite-linenumber:skipFrames=1}${newline}${message}${newline}"/>
    </targets>
    <rules>
      <logger name="NLog" minlevel="Debug" maxlevel="Error" writeTo="logfile" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>